<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard V.1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- nalika Icon CSS
		============================================ -->
    <link rel="stylesheet" href="css/nalika-icon.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="css/main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

       <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        #a{
            width: 700px;
            height: 200px;
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
        }
     
    </style>
</head>

<body>

    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
           
            </div>
	
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="has-arrow" href="index.html">
								   <i class="icon nalika-home icon-wrap"></i>
								   <span class="mini-click-non">漏洞检测</span>								
                                </a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Dashboard v.1" href="introduce.html"><span class="mini-sub-pro">介绍</span></a></li>
                                <li><a title="Dashboard v.2" href="solfile.html"><span class="mini-sub-pro">智能合约源文件</span></a></li>
                                <li><a title="Dashboard v.3" href="bytecode.html"> <span class="mini-sub-pro">智能合约字节码</span></a></li>
                                <li><a title="Product List" href="address.html"><span class="mini-sub-pro">智能合约地址</span></a></li>
                                <li><a title="Product List" href="scanstate.html"><span class="mini-sub-pro">漏洞检测任务</span></a></li>
                               
                            </ul>
                        </li>
                  
                  </ul>
                  </nav>

                  

              
            </div>
        </nav>

    </div>

    <!-- Start Welcome area -->
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="padding-left：1000px;">
                                        <div class="header-right-info" >
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu" style="margin:0 auto">
                                    
												<h1 style="color: white; margin-left: 20px; ">智能合约漏洞检测系统</h1>
                                            </ul>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>

            <div id='a'>
        
                <h3 style="color:white;margin-left: 230px">漏洞检测报告</h3>

                <table  width="600" border="1" style="color:white;">
 
                 <tr>
                     <th> <td colspan="3" align="center" ><font size="5">==== 整数溢出漏洞 ====</font></td></th>>
                 </tr>
                    
                <tr><th><td><font font-weight: bold;  size="3" color="RoyalBlue" face= "DFKai-sb">Severity:</font> <font color="red">High</font></td></th>></tr>
                <tr><th><td><font font-weight: bold;  size="3" color="RoyalBlue" face= "DFKai-sb" >Contract name:</font> MAIN</td></th>></tr>
                <tr><th><td><font font-weight: bold;  size="3" color="RoyalBlue" face= "DFKai-sb" >Function name:</font> sell(uint256)</td></th>></tr>
                <tr><th><td><font font-weight: bold;  size="3" color="RoyalBlue" face= "DFKai-sb" >PC address:</font> 407
                </td></th>></tr>
                  <tr><th><td><font font-weight: bold;  size="3" color="RoyalBlue" face= "DFKai-sb" >Description:</font><br>
    &emsp;&emsp;&emsp;&emsp;在计算机编程中，当算术运算试图创建一个超出给定位数范围（大于最大值或小于最小值）的数值时，就会发生整数溢出。
                </td></th>></tr>
                  <tr><th><td><font font-weight: bold; size="3" color="RoyalBlue" face= "DFKai-sb">Security solution:</font><br>
    &emsp;&emsp;&emsp;&emsp;1）在进行算数运算的前后进行验证是否会造成溢出；<br>  &emsp;&emsp;&emsp;&emsp;2）在进行算数运算时直接使用OpenZeppelin维护的数学计算库safemath来处理运算逻辑。
                </td></th>></tr>



               </table >
          
                    

            </div>
        
    <!-- jquery
		============================================ -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="js/metisMenu/metisMenu.min.js"></script>
    <script src="js/metisMenu/metisMenu-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="js/sparkline/jquery.sparkline.min.js"></script>
    <script src="js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="js/calendar/moment.min.js"></script>
    <script src="js/calendar/fullcalendar.min.js"></script>
    <script src="js/calendar/fullcalendar-active.js"></script>
	<!-- float JS
		============================================ -->
    <script src="js/flot/jquery.flot.js"></script>
    <script src="js/flot/jquery.flot.resize.js"></script>
    <script src="js/flot/curvedLines.js"></script>
    <script src="js/flot/flot-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="js/main.js"></script>
</body>

</html>